numpy==1.16.4
scikit-image==0.15.0
scikit-learn==0.21.2
opencv=4.1.1
mpich=3.3.1
mpi4py=2.0.0
tensorflow-gpu==1.12.0         # choose this to run on an environment for PACE ICE GPU
#tensorflow==1.12.0            # choose this to run on a separate environment for CPU only
cudatoolkit==9.0               # CUDA 9.0 is chosen for PACE ICE GPU support, which uses TelsaP100 GPUs with driver version 390
                     # please see this site for compatibilities: https://stackoverflow.com/questions/30820513/what-is-the-correct-version-of-cuda-for-my-nvidia-driver/30820690#30820690
